<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand " href="#">
      <img src="/assets/img/logo.png" class="d-inline-block align-top" style="width: 124px; margin-top: 6px;"/>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <a class="nav-item nav-link" href="#" data-toggle="modal" data-target="#importModel">Import</a>
        <a class="nav-item nav-link" href="#" data-toggle="modal" data-target="#DebuggerModel">Debugger</a>
        <a class="nav-item nav-link" href="#" id="consoleBtn" onclick="toggleConsole(consoleBtn)">Hide Console</a>
    </div>
  </div>
</nav>